<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <ul class="nav">
      <li><a class="f-c-black"href="https://www.facebook.com">Dân trí</a></li>
      <li><a href="https://www.google.com.vn/?gfe_rd=cr&dcr=0&ei=EIseWu6qDMHFqAHlzL24DA">Google</a></li>
      <li><a href="https://www.facebook.com">Facebook</a></li>
    </ul>
    <br>
    <img class="bg m-l-200"src="/static/trang.jpg" alt="">
    <br>
    <br>
    <div class="m-l-250p">
      Trăng thấy tủi âu sầu lẻ bóng <br>
      Đêm thu buồn tiếng sóng thở than <br>
      Trăng rơi xuống biển vỡ tan <br>
      Loang loang một vệt xé ngang giữa dòng! <br>
      <br>
      Biển oà khóc chạnh lòng thương xót <br>
      Ánh trăng ngà vàng vọt trong đêm <br>
      Trăng buồn vương vãi bên thềm <br>
      Trăng nằm úp mặt khóc rên thấy rầu <br>
      <br>
      Trăng thuở trước vui sầu nhân thế <br>
      Trăng bây giờ ngồi kể cô đơn <br>
      Nghẹn ngào trăng dỗi trăng hờn <br>
      Sáng trong vằng vặc vô hồn nhân gian! <br>
      <br>
      Bởi vòng xoáy gian nan cuộc sống <br>
      Mải mưu sinh mơ mộng sao đành? <br>
      Biết rằng gió mát trăng thanh <br>
      Biển đêm lãng mạn vắng tanh không người! <br>
      <br>
      Trăng méo mó nụ cười chua chát<br>
      Trăng xin về trôi dạt chốn quê<br>
      Dẫu cho khốn khó mọi bề<br>
      Ánh trăng hằng tháng tràn trề sơn khê<br>
      <br>
      Trăng được thấy đam mê đôi lứa<br>
      Trăng được nghe lời hứa tình nồng<br>
      Bao người ngóng đợi chờ mong<br>
      Đêm về trăng sáng thoả lòng khát khao<br>
      <br>
      Biển khẽ gọi thôi nào trăng hỡi!<br>
      Hãy vui lên cho vợi nỗi lòng<br>
      Gật đầu đôi mắt trăng trong<br>
      Mình luôn sáng đẹp người không hững hờ?<br>
    </div>
    <br>

  </body>
</html>
