{% extends 'base.html' %}
{% block title %}
Thêm món ăn
{% endblock %}
{% block page_content %}
  <body class="mt-4 container">
    <form class=""method="post">
      <div class="card">
        <label class="mr-2"for="">Tên đồ: </label>
        <input type="text" name="title" value=""><br>
        <label class="mr-2"for="">Ảnh: </label>
        <input type="text" name="image" value=""><br>
        <label for="">Chi tiết: </label>
        <input type="text" name="description" value=""><br>
        <label for="">Giá: </label>
        <input type="int" name="price" value=""><br>
        <input class="btn btn-info" type="submit" name="" value="Thêm">
      </div>
    </form>

{% endblock %}
