<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js">
    </script>
    <script type="text/javascript"src="/static/js/popper.js">
    </script>
    <script type="text/javascript"src="/static/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style1.css">
    <title></title>
  </head>
  <body class="mt-4 container">
    <form class=""method="post">
      <div class="card">
        <label class="mr-2"for="">Tên đồ: </label>
        <input type="text" name="title" value=""><br>
        <label class="mr-2"for="">Ảnh: </label>
        <input type="text" name="image" value=""><br>
        <label for="">Chi tiết: </label>
        <input type="text" name="description" value=""><br>
        <label for="">Giá: </label>
        <input type="int" name="price" value=""><br>
        <input class="btn btn-info" type="submit" name="" value="Thêm">
      </div>
    </form>


  </body>
</html>
