{% extends 'base.html' %}
{% block title %}
Admin
{% endblock %}
{% block page_content %}

<div class="container" background-image: url(../static/bg.jpg)>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Xuất sứ</th>
      <th scope="col">Tên món ăn</th>
      <th scope="col">Ảnh</th>
      <th cscope="col">Giá</th>
      <th scope="col">Công cụ</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td scope="col">{{ item.title }}</td>
        <td scope="col">{{ item.description }}</td>
        <td scope="col"><a href="{{ item.image }}" target="#" class="text-info">Link</a></td>
        <td scope="col">{{ item.price }}</td>
        <td scope="col">
          <a href="/edit_item/{{ item.id }}"><i class="fa fa-pencil-square-o ml-3 text-info" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-trash text-danger ml-2" aria-hidden="true"></i></a>
        </td>
      </tr>
    {% endfor %}

  </tbody>
</table>
<a href="/add_item" target="#" class="btn btn-success">Thêm món ăn</a>
</div>
{% endblock %}
