.font{
  font-family: 'Exo 2', sans-serif;
  margin-left: 40px;
}
.carousel-item img{
  height: 400px;
  width: auto;
  object-fit: cover;
}
.ht-30p{
  height: 60px;
}
.f-s{
  font-size: 20px;
  font-family: 'Lato', sans-serif;

}
.m-t-20p{
  margin-top: 50px;
}
.m-l-20p{
  margin-left: 300px
}
.m-l-40p{
  margin-left: 150px;
}
.m-l-60p{
  margin-left: 150px;
}
.f-s-50p{
  font-size: 50px;
}
