.m-l-40p{
  margin-left: 120px;
}
.t-a-c{
  text-align: center;
}
.bg-c-g{
  background-color: #484040;
}
.f-s-20p{
  font-size: 24px
}
.f-c{
  color: #cec7c7;
}
.fl-left{
  float: right;
}
.f-s-15p{
  font-size: 15px;
}
.m-l-20p{
  margin-left: 20px;
}
.m-l-840p{
  margin-left: 840px;
}
.m-t-14p{
  margin-top: 14px;
}
.m-t-16p{
  margin-top: 19px;
}
.fo-fa{
  font-family: 'Lobster', cursive;

}
