<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <img id="img-small" src="static/logo.svg" alt="">
    <br>
    <br>
    <div class="f-b b-20 h-40p m-t-15">
          <a class="m-120 f-c-black"href="#">News</a>
          <a class="m-120 f-c-black"href="#">Culture</a>
          <a class="m-120 f-c-black"href="#">Books</a>
          <a  class="m-120 f-c-black"href="#">Business & Tech</a>
    </div>
    <p class="f-s-30p p-l-20p">What Mary Oliver's Critics Don't Understand</p>
    <p class="p-l-20p f-s-18p f-st-i">For America's most beloved poet, paying attention to nature is a <br>springboard to sacred</p>
    <p class="p-l-20p f-s-12p f-fa">By <a href="#">Ruth Franklin</a></p>
    <div class="m-l-50p m-r-200p ">
      <div class="img-float b-s">
        <img class="img-small"src="static/img.jpg" alt=""><br>
        <span class="f-st-i">Oliver uses nature as a <br>springboard to the sacred- <br>the beating heart of her <br> work.</span><br>
        <small class="f-c-gray">Illusion by blah blah</small>

        <!-- <ol class="p-30p">
          <li>
            <p>Letter from Washington</p>
            <a href="#">The danger of President Pence</a>
            <p>By <a href="#">Jane Mayer</a></p>
          </li>
          <li>
            <p>Letter from Washington</p>
            <a href="#">The danger of President Pence</a>
            <p>By <a href="#">Jane Mayer</a></p>
          </li>
          <li>
            <p>Letter from Washington</p>
            <a href="#">The danger of President Pence</a>
            <p>By <a href="#">Jane Mayer</a></p>
          </li>
        </ol> -->
      </div class="b-s-me">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <blockquote cite="http://">
        Lorem ipsum dolor sit amet, <br>
        consectetur adipisicing elit, <br>
        sed do eiusmod tempor incididunt <br>
        ut labore et dolore magna aliqua.
      </blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua . Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <!-- <div class="row m-l-40p"> -->
    <div class="container">
      <div class="row m-l-40p">
        <div class="card" style="width:15rem">
          <div class="col-md-3">
            <span class="f-c-red">Daily Cartoon</span>
            <p>Daily Cartoon: Friday, November 24th</p>
            <p>Forgetting the garnish</p>
            <p>By Lianan Finck Nov, 24, 2017</p>
          </div>
          <div class="card" style="width:15rem">
            <div class="col-md-3">
              <span class="f-c-red">Element</span>
              <p>At Berkeley, a New Genertion of Ethical Hackers Learns the Do's and Don't is of Cybersecurity</p>
              <p>How long would it take a junior computer-science major to distrup an election</p>
              <p>By Anna Wiener Nov, 24, 2017</p>
            </div>
          </div>
      </div>
      </div>



    <!-- </div> -->

      <!-- <div class="f-r">
        <p class="f-c-red">Elements</p>
        <p>At Ber Kerley, a New Generation of Ethical Hackers Learns the Do's and Dont't of Cybaersecurity</p>
        <p>How long would it take a junior computer-science mahor to disrupt an election?</p>
        <p>By Anna Wiener Nov.24, 2017</p>
      </div> -->
    </div>
    <br><br>
    <div class="f-b b-20 h-40p m-t-15 b-c-black c-w">
          <a class="m-150p f-c-white"href="#">Listen to the NewYorker Radio Hour</a>
          <span class="m-l-20">.</span>
          <a class="m-50p f-c-white"href="#">Buy the cover</a>
          <span class="m-l-20">.</span>
          <a class="m-50p f-c-white "href="#">Play the JigSaw Puzzle</a>
    </div>
  </body>
</html>
